#nav-bar-left {
    float: left;
}

#nav-bar-right {
    float: right;
}

.nav-bar-li-left {
    float: left;
}

.nav-bar-li-right {
    float: right;
}

.nav-bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background);
}

.nav-bar-a {
    display: block;
    color: var(--dark-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar-a:hover {
    background-color: var(--dark-background);
}

#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: .1em solid var(--dark-white);
    background-color: var(--background);
    z-index: 1;
}
