p{
    display: table-row;
}

label {
    display: table-cell;
}

form {
    display: table;
}

input {
    display: table-cell;
}

.project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 70vh;
}

.basketball-player-info{
    display: table-cell;
    margin-right: 1rem;
    padding-right: 1rem;
}

.bb-results-span{
    margin-top: .5em;
    display: block;
}

.description{
    display: none;
}

#results{
    overflow-y: scroll;
    max-height: 512px;
}

#basketball-player-div {
    display: table-row;
}
