<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sheldon Lee Hampton II">
    <title>Sheldon Sandbox - 405</title>
</head>
<body>
{{ template "nav.html"}}
Method Not Allowed
</body>
</html>