<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sheldon Lee Hampton II">
    <title>Sheldon Sandbox - About</title>
    <link rel="stylesheet" href="/css/about.css"/>
</head>
<body>
{{ template "nav.html"}}
<div class="container" id="about-container">
    <div class="content">
        <div class="about-div" id="sandbox-desc">
            <div class="about-div" id="bod">
                <p>
                    Thanks for checking out my sandbox. This place is a result of learning, tinkering, and fun made with
                    Go and some basic html and css.
                    I try not to incorporate tools I regularly use at work here - there will never be Java in this
                    space; JavaScript will make it in though.
                    You can check out the projects page to see the latest thing I'm working on - they come, they go, and
                    usually don't get fully finished once I've gotten what I was looking for.
                    A lot of what I enjoy most exists in the Backend realm of things so this basic html template will be
                    what changes the least.
                    If you're interested in helping, criticizing, informing me about a bug, or just need someone to
                    troll (trolls need love too) shoot me a <a class="click-me"
                                                               href="mailto: s.l.hamptonii@gmail.com?subject=sheldonsandbox">message</a>
                    If you're interested in me working for you please understand that I have 0 intentions of leaving the
                    Seattle area for a good long while.
                </p>
            </div>
            <div class="about-div" id="sign-off">
                <br/>
                <span>&#60;</span>Complimentary Closing<span>&#62;</span>,
                <br/>
                <br/>
                diño
            </div>
        </div>
        </div>
    </div>
</div>

</body>
</html>
