<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/base.css"/>
</head>
<body>
{{ range $index, $err := .Errs }}
<div class="alert alert-danger">{{ $err }}</div>
{{ end }}
</body>
</html>