<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sheldon Lee Hampton II">
    <title>Sheldon Sandbox - Home</title>
</head>
<body>
{{ template "nav.html"}}
<div class="container">
    <div class="content">
        <p>
            Thanks for checking out my sandbox.

            Some of the updates "in the pipieline" include the following:
        </p>
        <hr/>
        <ol>
            <li>moving client to spa - I think I'm going to use Vue.js</li>
            <li>adjust api service to be less dependant on sportsdats.io - store daily results in S3 so I don't have to
                deal with throttling
            </li>
            <li>move from Fargate on ECS to EKS - have to look into costs first.</li>
            <li>move middlewares (logging, auth, etc.) to GitHub</li>
            <li>move utility functions (sorters, searchers, regex, etc.) to GitHub</li>
            <li>move basketball service to GitLab - needs a more robust CI/CD setup than my script xD</li>
            <li> setup portals for my like and !like pages</li>
            <li>actually take pictures</li>
            <li>actually post pictures</li>
            <li>make basketball proj pretty - use player pictures</li>
            <li>have lists like these pull from yaml files in S3 instead of manually changing an ol</li>
        </ol>
        <hr/>
        <p>
            Let's see if I actually get all this done xD!
        <p>
    </div>
</div>
</body>
</html>