<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sheldon Lee Hampton II">
    <title>Sheldon Sandbox - Like</title>
</head>
<body>
{{ template "nav.html"}}
<div class="container">
    <div class="content">
        <p>
            More to Come.
        </p>
    </div>
</div>
</body>
</html>