<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/nav.css"/>
</head>
<body>
    {{ template "base.html"}}
    <nav id="nav-bar">
        <div class="nav-bar-div" id="nav-bar-left">
            <ul class="nav-bar-ul">
                <li class="nav-bar-li-left"><a class="nav-bar-a" href="/home">Home</a></li>
                <li class="nav-bar-li-left"><a class="nav-bar-a" href="/like">Like</a></li>
                <li class="nav-bar-li-left"><a class="nav-bar-a" href="/!like">!Like</a></li>
                <li class="nav-bar-li-left"><a class="nav-bar-a" href="/imgs">Imgs</a></li>
                <li class="nav-bar-li-left"><a class="nav-bar-a" href="/projs">Projs</a></li>
                <li class="nav-bar-li-left"><a class="nav-bar-a" href="/ppl">Ppl</a></li>
            </ul>
        </div>
        <div class="nav-bar-div" id="nav-bar-right">
            <ul class="nav-bar-ul">
                <li class="nav-bar-li-right"><a class="nav-bar-a" href="/about">About</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>