<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sheldon Lee Hampton II">
    <title>Sheldon Sandbox - Projs</title>
    <link rel="stylesheet" href="/css/proj.css"/>
    <script type="text/javascript" src="/scripts/button.js"></script>
</head>
<body>
{{ template "nav.html"}}
<div class="container">
    <div class="content">
        <h1 class="project-title">KOBE</h1>
        <button onclick="toggleShow('basketball-description')">Description</button>
        <hr>
        <div class="description" id="basketball-description">
        <pre>
In Fantasy Basketball (<a class="click-me" href="https://www.reddit.com/r/nba/comments/1pv3h0/eli5_fantasy_basketball/" target="_blank">ELI5</a>) there are a wide variety of scoring systems.
To keep things simple, let's say the only stats that matter are Points, Rebounds, and Assists and each team has two players.
Imagine Team A has Jayson Tatum and Gordon Hayward and Team B has Jaylen Brown and Marcus Smart.
Using stats from a random <a class="click-me" href="https://www.espn.com/nba/boxscore?gameId=401161374" target="_blank">game</a> we'll be able to understand two common ways to score Fantasy Basketball.

First, Category Points: a point is 1 point, a rebound is 1.2 points, and an assist is 1.5 points (example scale).

Team A: Tatum's 31.6 points (25 * 1 + 3 * 1.2 + 4 * 1.5) + Smart's points 26.8 (16 * 1 + 4 * 1.2 + 4 * 1.5) = 58.4
Team B: Brown's 44.3 points (32 * 1 + 9 * 1.2 + 1 * 1.5) + Hayward's 17.8 points (4 * 1 + 9 * 1.2 + 2 * 1.5) = 62.1

In this system Team B would beat Team A.

Second, Category Wins: most points wins points, most rebounds wins rebounds, most assists wins assists.

Team A: Tatum's 25 points, 3 rebounds, and 4 assists + Smart's 16 points, 4 rebounds, and 4 assists = 41 points, 7 rebounds, and 8 assists
Team B: Brown's 32 points, 9 rebounds, and 1 assist + Hayward's 4 points, 9 rebounds, and 2 assists = 36 points, 18 rebounds, and 3 assists

In this system Team A would beat Team B.

How a group decides their system doesn't matter much as long as everyone understands what's going on.
One thing to note though is with the first system is a manager has a simpler time comparing players.
Imagine how things become more complex when there are more categories, teams, and players per team.
"Shopping" for free agents and proposing/analyzing trade requests can be much harder with the second scoring system.
One could use an online point system, but that might have categories not involved in your leagues settings or an unwanted point scale.

This tool I made for my friend, the Fantasy Basketball Legend, Horace Earl, helps ease those difficulties.
** There are far more stats available, but these are the ones we use for our league. I may add others in the future **
Pick which categories matter and by how much and then you've got a list of players (who've played at least 15 games) ranked by your own scale.
Looking for more Three's without sacrificing Field Goal Percentage and Turnovers going into your next matchup? Slide the dials.
Don't care about Steals and Blocks (<a class="click-me" href="https://www.youtube.com/watch?v=KUdP7WtDsCA" target="_blank">BAKA!</a>)? Slide the dials.
The resulting points don't actually matter, but the player ranks and gaps between players matter do.
The resulting team is based on a roster of eleven players with the following positions and caps
PG (3), SG (3), SF (3), PF (3), C  (2), G, F, UTIL, BENCH, BENCH, BENCH
        </pre>
        </div>
        <hr>
        <div id="basketball" class="project">
            <div id="basketball-form">
                <form action="/ratePlayers" method="post" id="score-config-form">
                    <p>
                        <label for="minRange">Minutes</label>
                        <input id="minRange" name="minRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Min}}"
                               oninput="this.form.minNumber.value=this.value">
                        <label for="minNumber">Multiplier</label>
                        <input id="minNumber" name="minNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Min}}" oninput="this.form.minRange.value=this.value">
                    </p>
                    <p>
                        <label for="fgmRange">Field Goals Made</label>
                        <input id="fgmRange" name="fgmRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Fgm}}"
                               oninput="this.form.fgmNumber.value=this.value">
                        <label for="fgmNumber">Multiplier</label>
                        <input id="fgmNumber" name="fgmNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Fgm}}" oninput="this.form.fgmRange.value=this.value">
                    </p>
                    <p>
                        <label for="fgaRange">Field Goals Attempted</label>
                        <input id="fgaRange" name="fgaRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Fga}}"
                               oninput="this.form.fgaNumber.value=this.value">
                        <label for="fgaNumber">Multiplier</label>
                        <input id="fgaNumber" name="fgaNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Fga}}" oninput="this.form.fgaRange.value=this.value">
                    </p>
                    <p>
                        <label for="fgpRange">Field Goals Percentage</label>
                        <input id="fgpRange" name="fgpRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Fgp}}"
                               oninput="this.form.fgpNumber.value=this.value">
                        <label for="fgpNumber">Multiplier</label>
                        <input id="fgpNumber" name="fgpNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Fgp}}" oninput="this.form.fgpRange.value=this.value">
                    </p>
                    <p>
                        <label for="ftmRange">Field Throws Made</label>
                        <input id="ftmRange" name="ftmRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Ftm}}"
                               oninput="this.form.ftmNumber.value=this.value">
                        <label for="ftmNumber">Multiplier</label>
                        <input id="ftmNumber" name="ftmNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Ftm}}" oninput="this.form.ftmRange.value=this.value">
                    </p>
                    <p>
                        <label for="ftaRange">Field Throws Attempted</label>
                        <input id="ftaRange" name="ftaRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Fta}}"
                               oninput="this.form.ftaNumber.value=this.value">
                        <label for="ftaNumber">Multiplier</label>
                        <input id="ftaNumber" name="ftaNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Fta}}" oninput="this.form.ftaRange.value=this.value">
                    </p>
                    <p>
                        <label for="ftpRange">Field Throws Percentage</label>
                        <input id="ftpRange" name="ftpRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Ftp}}"
                               oninput="this.form.ftpNumber.value=this.value">
                        <label for="ftpNumber">Multiplier</label>
                        <input id="ftpNumber" name="ftpNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Ftp}}" oninput="this.form.ftpRange.value=this.value">
                    </p>
                    <p>
                        <label for="tpmRange">Three PointersMade</label>
                        <input id="tpmRange" name="tpmRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Tpm}}"
                               oninput="this.form.tpmNumber.value=this.value">
                        <label for="tpmNumber">Multiplier</label>
                        <input id="tpmNumber" name="tpmNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Tpm}}" oninput="this.form.tpmRange.value=this.value">
                    </p>
                    <p>
                        <label for="tpaRange">Three Pointers Attempted</label>
                        <input id="tpaRange" name="tpaRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Tpa}}"
                               oninput="this.form.tpaNumber.value=this.value">
                        <label for="tpaNumber">Multiplier</label>
                        <input id="tpaNumber" name="tpaNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Tpa}}" oninput="this.form.tpaRange.value=this.value">
                    </p>
                    <p>
                        <label for="tppRange">Three Pointers Percentage</label>
                        <input id="tppRange" name="tppRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Tpp}}"
                               oninput="this.form.tppNumber.value=this.value">
                        <label for="tppNumber">Multiplier</label>
                        <input id="tppNumber" name="tppNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Tpp}}" oninput="this.form.tppRange.value=this.value">
                    </p>
                    <p>
                        <label for="rebRange">Rebounds</label>
                        <input id="rebRange" name="rebRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Reb}}"
                               oninput="this.form.rebNumber.value=this.value">
                        <label for="rebNumber">Multiplier</label>
                        <input id="rebNumber" name="rebNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Reb}}" oninput="this.form.rebRange.value=this.value">
                    </p>
                    <p>
                        <label for="assRange">Assists</label>
                        <input id="assRange" name="assRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Ass}}"
                               oninput="this.form.assNumber.value=this.value">
                        <label for="assNumber">Multiplier</label>
                        <input id="assNumber" name="assNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Ass}}" oninput="this.form.assRange.value=this.value">
                    </p>
                    <p>
                        <label for="stlRange">Steals</label>
                        <input id="stlRange" name="stlRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Stl}}"
                               oninput="this.form.stlNumber.value=this.value">
                        <label for="stlNumber">Multiplier</label>
                        <input id="stlNumber" name="stlNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Stl}}" oninput="this.form.stlRange.value=this.value">
                    </p>
                    <p>
                        <label for="blkRange">Blocks</label>
                        <input id="blkRange" name="blkRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Blk}}"
                               oninput="this.form.blkNumber.value=this.value">
                        <label for="blkNumber">Multiplier</label>
                        <input id="blkNumber" name="blkNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Blk}}" oninput="this.form.blkRange.value=this.value">
                    </p>
                    <p>
                        <label for="tvsRange">Turnovers</label>
                        <input id="tvsRange" name="tvsRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Tvs}}"
                               oninput="this.form.tvsNumber.value=this.value">
                        <label for="tvsNumber">Multiplier</label>
                        <input id="tvsNumber" name="tvsNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Tvs}}" oninput="this.form.tvsRange.value=this.value">
                    </p>
                    <p>
                        <label for="ddsRange">Double Doubles</label>
                        <input id="ddsRange" name="ddsRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Dds}}"
                               oninput="this.form.ddsNumber.value=this.value">
                        <label for="ddsNumber">Multiplier</label>
                        <input id="ddsNumber" name="ddsNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Dds}}" oninput="this.form.ddsRange.value=this.value">
                    </p>
                    <p>
                        <label for="ptsRange">Points</label>
                        <input id="ptsRange" name="ptsRange" type="range" min="0" max="10" step="0.01" value="{{.ScoreConfig.Pts}}"
                               oninput="this.form.ptsNumber.value=this.value">
                        <label for="ptsNumber">Multiplier</label>
                        <input id="ptsNumber" name="ptsNumber" type="number" min="0" max="10" step="0.01"
                               value="{{.ScoreConfig.Pts}}" oninput="this.form.ptsRange.value=this.value">
                    </p>
                </form>
                <button type="submit" form="score-config-form" value="Submit">Shoot your shot!</button>
            </div>
            <div id="kobe-pic">
                <img src="/img/kobe.jpg">
            </div>
            {{if gt (len .Team) 0}}
                <div id="results">
                    <span class="bb-results-span">Suggested Team</span>
                    <hr>
                    {{range $player := .Team}}
                        <div id="basketball-player-div">
                            <img src="/img/basketball.png" class="basketball-player-info" height="20px" width="20px">
                            <span class="basketball-player-info">{{$player.Name}}</span>
                            <span class="basketball-player-info">{{$player.Position}}</span>
                            <span class="basketball-player-info">{{$player.Score}}</span>
                        </div>
                    {{end}}
                    <span class="bb-results-span">All Players</span>
                    <hr>
                    {{range $player := .Players}}
                        <div id="basketball-player-div">
                            <img src="/img/basketball.png" class="basketball-player-info" height="20px" width="20px">
                            <span class="basketball-player-info">{{$player.Name}}</span>
                            <span class="basketball-player-info">{{$player.Position}}</span>
                            <span class="basketball-player-info">{{$player.Score}}</span>
                        </div>
                    {{end}}
                </div>
            {{end}}
        </div>
    </div>
</div>
</body>
</html>